/* Basic */

.evenbettest-form.gf-basic {
    margin-top: 32px;
    width: 100%;
}

.evenbettest-form:first-child {
    margin-top: 0;
}

.evenbettest-form.gf-basic legend,
.evenbettest-form.gf-basic label.gfield_label,
.gform_wrapper.gravity-theme .gfield_error legend,
.tingle-modal-box .gfield_label.gform-field-label{
    color: #F4DDA3 !important;
    font-size: 18px;
    font-weight: 500;
}

.evenbettest-form.gf-basic .ginput_counter {
    display: none;
}

.evenbettest-form.gf-basic .gform_wrapper.gravity-theme .gchoice {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.evenbettest-form.gf-basic .gform_wrapper.gravity-theme .gchoice input {
    width: 21px;
    height: 21px;
    accent-color: #F2C336;
}

.evenbettest-form.gf-basic .gform_wrapper.gravity-theme .gchoice label {
    font-size: 12px;
    padding-bottom: 0;
}

.evenbettest-form.gf-basic .gform_wrapper.gravity-theme input[type=checkbox] {
    position: relative;
    top: 4px;
}

.evenbettest-form.gf-basic .gform_wrapper.gravity-theme .gform_footer.top_label {
    display: flex;
    justify-content: center;
}

/* General */

.evenbettest-form .gform_wrapper.gravity-theme h2.gform_title {
    margin-bottom: 40px;
    text-align: center;
}

.evenbettest-form .gform_wrapper.gravity-theme .gfield_required {
    display: none;
}

.evenbettest-form .gform_wrapper.gravity-theme .gform_required_legend {
    display: none;
}

.tingle-modal-box {
    background-color: #A30101 !important;
}

.tingle-modal-box .tingle-modal-box__footer {
    background-color: #A30101 !important;
}

.tingle-modal-box .gpnf-modal-header {
    background-color: #F4DDA3 !important;
    color: #010452 !important;
}

.tingle-modal-box .tingle-modal-box__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.tingle-modal .tingle-modal__closeIcon {
    color: #F4DDA3;
}